body {
    font-family: FontAwesome, sans-serif;
    font-size: smaller;
}

div.column {
    display: flex;
    flex-direction: column;
}

div.row {
    display: flex;
    flex-direction: row;
}

div.center {
    align-items: center;
}

div.end {
    justify-content: flex-end;
}

div.room-to-grow {
    padding: 8px 0 4px 8px;
    margin: 8px 0 4px 8px;
}

div.fine-print {
    font-size: smaller;
    align-self: flex-start;
    margin-top: 2px;
    padding-left: 8px;
    margin-left: 8px;
}

div.list-item-info {
    padding-left: 1em;
    flex-grow: 1
}

div.list-item-info .heading {
    font-size: large;
    justify-content: space-between;
}

div.map {
    margin: 0 0 8px 8px;
}

div.store {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 1em;
}

div.store .name {
    padding-right: 1em
}

div.store .rating .filled {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: yellow;
}

div.store .rating-count {
    padding-left: 1em;
}

div.purchase-details {
    display: flex;
    padding-top: 1em;
}

div.purchase-details .price {
    font-size: large;
    color: darkred;
    padding-right: 1em
}

div.purchase-details .features {
    padding-left: 1em;
}

div.purchase-details .sizes {
    padding-top: 1em;
}

div.purchase-details ul {
    padding-left: 1em
}

span.go {
    color: green
}

span.stop {
    color: red
}

input[type=text] {
    padding: 8px;
    margin: 8px 0 0 8px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 16px;
}

input[type=text]:focus {
    outline: 0;
}

button {
    padding: 8px;
    margin: 8px 8px 0 8px;
    border: lightgray;
    border-radius: 14px;
    cursor: pointer;
}

.shop-local {
    padding: 8px 16px 8px 16px;
}

button:focus {
    outline: 0;
}

li.unavailable {
    text-decoration: line-through;
}
